

html, body {
  background-color: white;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Ubuntu, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
  color: #4e4e4e;
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 768px) {
  h6 {
      text-align: center;
  }
}

h4 {
  font-size: 20px;
}

h2 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 33px;
  font-size: 42px;
}

@media (max-width: 768px) {
  h2 {
      text-align: center;
  }
}

.login-button {
  width: 122px;
  height: 48px;
  border-radius: 30px;
  margin-right: 9px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9D783;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.login-button i {
  margin-left: 13px;
}
.login-button:hover {
  background-color: black;
  color: white;
}

.learn-more {
  width: 180px;
  background-color: transparent;
  border: 1px solid black;
}
.learn-more:hover {
  background-color: black;
  color: white;
}

.black {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.black:hover {
  background-color: white;
  color: black;
}

.element {
  width: 650px;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
@media (max-width: 1400px) {
  .element {
      width: 500px;
  }
}
@media (max-width: 768px) {
  .element {
      display: none;
  }
}

.dot-container {
  width: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.dot-container button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline 0.05s ease-in-out;
}
.dot-container button:hover {
  outline: 2px solid rgba(0, 0, 0, 0.2);
}
.dot-container .here {
  background-color: black;
  cursor: auto;
  outline: none;
}
.dot-container .here:hover {
  outline: none;
}

header {
  width: 100%;
  background-color: #F0EFE9;
}
header .header-container {
  margin: auto;
  height: 120px;
  width: 1300px;
  display: flex;
}
@media (max-width: 1400px) {
  header .header-container {
      width: 1000px;
  }
}
@media (max-width: 1200px) {
  header .header-container {
      width: 800px;
  }
}
@media (max-width: 992px) {
  header .header-container {
      width: 600px;
  }
}
@media (max-width: 768px) {
  header .header-container {
      position: relative;
      width: 100%;
  }
}
header .header-container img {
  width: 137px;
  margin-right: 3vw;
}
@media (max-width: 768px) {
  header .header-container img {
      margin-left: 3vw;
      min-width: 170px;
  }
}
header .header-container .header {
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  header .header-container .header {
      position: static;
  }
}
header .header-container .header .contact {
  display: flex;
  margin-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cacaca;
}
@media (max-width: 768px) {
  header .header-container .header .contact {
      display: none;
  }
}
header .header-container .header .contact .info {
  width: 200px;
  margin-left: 0.2vw;
  margin-right: 0.2vw;
  font-size: 15px;
  position: relative;
}
@media (max-width: 1200px) {
  header .header-container .header .contact .info {
      display: none;
  }
}
header .header-container .header .contact .info::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 90%;
  background-color: #cacaca;
}
header .header-container .header .contact .info i {
  margin: 0.1vw;
  font-size: 20px;
  color: #191919;
}
header .header-container .header .contact .location-social {
  width: calc(100% - 370px);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  header .header-container .header .contact .location-social {
      justify-content: end;
      width: 100%;
  }
}
header .header-container .header .contact .location-social::after {
  display: none;
}
@media (max-width: 1200px) {
  header .header-container .header .contact .location-social .location {
      display: none;
  }
}
header .header-container .header .contact .location-social .social a {
  margin-right: 10px;
}
header .header-container .header .contact .location-social .social a i {
  margin: 0;
  font-size: 16px;
  transition: color 0.1s ease-in-out;
}
header .header-container .header .contact .location-social .social a i:hover {
  color: #5a5a5a;
}
header .header-container .header .nav {
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
@media (max-width: 992px) {
  header .header-container .header .nav .login-button {
      width: 110px;
  }
}
@media (max-width: 768px) {
  header .header-container .header .nav .login-button {
      margin: auto;
      margin-top: 18px;
  }
}
@media (min-width: 769px) {
  header .header-container .header .nav {
      display: flex !important;
  }
}
@media (max-width: 768px) {
  header .header-container .header .nav {
      display: none;
      background-color: rgba(240, 239, 233, 0.9647058824);
      z-index: 999;
      top: 120px;
      left: 0;
      height: 410px;
  }
}
header .header-container .header .nav nav {
  width: 306px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  header .header-container .header .nav nav {
      width: 290px;
  }
}
@media (max-width: 768px) {
  header .header-container .header .nav nav {
      width: 100%;
      display: block;
  }
}
header .header-container .header .nav nav a {
  text-decoration: none;
  color: #191919;
  margin-bottom: 11px;
  position: relative;
}
@media (max-width: 768px) {
  header .header-container .header .nav nav a {
      text-align: center;
      margin: 0;
      width: 100%;
      padding-top: 27px;
      padding-bottom: 27px;
      display: block;
      font-size: 1.1rem;
      transition: background-color 0.15s ease-in-out;
  }
  header .header-container .header .nav nav a:hover {
      background-color: rgba(0, 0, 0, 0.068);
  }
}
header .header-container .header .nav nav a::after {
  content: "";
  margin: auto;
  position: absolute;
  bottom: 13px;
  right: 0;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.15s ease-in-out;
}
@media (max-width: 768px) {
  header .header-container .header .nav nav a::after {
      display: none;
  }
}
header .header-container .header .nav nav a:hover::after {
  background-color: #191919;
}
header .header-container .header .nav nav .here::after {
  content: "";
  margin: auto;
  position: absolute;
  bottom: 13px;
  right: 0;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #191919;
}
@media (max-width: 768px) {
  header .header-container .header .nav nav .here::after {
      display: none;
  }
}
header .header-container .header .menu {
  border: none;
  position: absolute;
  right: 3vw;
  top: 35px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}
@media (min-width: 769px) {
  header .header-container .header .menu {
      display: none;
  }
}
header .header-container .header .menu:hover {
  background-color: rgba(0, 0, 0, 0.068);
}
header .header-container .header .menu i {
  font-size: 2.8rem;
}


.banner {
    position: relative;
    left: 0;
    width: 100%;
    height: 780px;
    background: #F0EFE9;
}

.banner .container {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner h1 {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 700px;
    height: 328px;
    text-align: left;
    font: normal normal bold 96px/100px DM Sans;
    letter-spacing: -1.92px;
    color: #191919;
    text-transform: capitalize;
}

.banner p {
    position: absolute;
    top: 500px;
    left: 20px;
    width: 691px;
    height: 59px;
    text-align: left;
    font: normal normal normal 20px/32px Inter;
    letter-spacing: -0.2px;
    color: #191919B2;
}

.banner .button-container {
    position: absolute;
    top: 600px;
    left: 20px;
    display: flex;
}

.banner .button-onclick {
    width: 208px;
    height: 56px;
    background: #F9D783;
    border-radius: 40px;
    text-align: center;
    font: normal normal 600 16px/56px Inter;
    color: #191919;
    margin-right: 20px;
}

.banner .button-onclick-right {
    width: 180px;
    height: 56px;
    background: #F0EFE9;
    border: 1px solid #191919;
    border-radius: 40px;
    text-align: center;
    font: normal normal 600 16px/56px Inter;
    color: #191919;
}

.banner .image-container {
    top: 120px;
    right: 400px;
    width: 500px;
    height: 780px;
    background: transparent 0% 0% no-repeat padding-box;
}

main .showcase-section {
    position: relative;
    background-color: #F0EFE9;
  }
  main .showcase-section .showcase-container {
    width: 1280px;
    margin: auto;
    display: flex;
  }
  @media (max-width: 1400px) {
    main .showcase-section .showcase-container {
      width: 1000px;
      align-items: center;
    }
  }
  @media (max-width: 1200px) {
    main .showcase-section .showcase-container {
      width: 800px;
    }
  }
  @media (max-width: 992px) {
    main .showcase-section .showcase-container {
      width: 600px;
    }
  }
  @media (max-width: 768px) {
    main .showcase-section .showcase-container {
      width: 100%;
    }
  }
  main .showcase-section .showcase-container .showcase h1 {
    font-size: 86px;
    margin: 0;
    margin-top: 100px;
  }
  @media (max-width: 1400px) {
    main .showcase-section .showcase-container .showcase h1 {
      font-size: 3.5rem;
      margin-left: 25px;
      margin-top: 0;
    }
  }
  @media (max-width: 1200px) {
    main .showcase-section .showcase-container .showcase h1 {
      text-align: center;
      margin: 15px;
      margin-top: 30px;
    }
  }
  @media (max-width: 768px) {
    main .showcase-section .showcase-container .showcase h1 {
      padding: 0 20px;
      font-size: 3rem;
      text-align: center;
      margin: 10px;
    }
  }
  main .showcase-section .showcase-container .showcase p {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 45px;
    font-size: 20px;
    color: #191919;
  }
  @media (max-width: 1400px) {
    main .showcase-section .showcase-container .showcase p {
      margin-left: 25px;
    }
  }
  @media (max-width: 1200px) {
    main .showcase-section .showcase-container .showcase p {
      margin: 0;
      margin-top: 35px;
      margin-bottom: 55px;
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    main .showcase-section .showcase-container .showcase p {
      padding: 0 20px;
      text-align: center;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 55px;
      margin-top: 35px;
    }
  }
  main .showcase-section .showcase-container .showcase .showcase-buttons-section {
    display: flex;
  }
  @media (max-width: 1400px) {
    main .showcase-section .showcase-container .showcase .showcase-buttons-section {
      margin-left: 25px;
    }
  }
  @media (max-width: 1200px) {
    main .showcase-section .showcase-container .showcase .showcase-buttons-section {
      justify-content: center;
      margin-bottom: 50px;
    }
  }
  @media (max-width: 768px) {
    main .showcase-section .showcase-container .showcase .showcase-buttons-section {
      display: block;
    }
  }
  main .showcase-section .showcase-container .showcase .showcase-buttons-section a {
    width: 200px;
    height: 60px;
    margin-right: 15px;
  }
  @media (max-width: 768px) {
    main .showcase-section .showcase-container .showcase .showcase-buttons-section a {
      margin: auto;
      margin-bottom: 20px;
    }
  }
  main .showcase-section .showcase-container img {
    margin-top: 40px;
    margin-right: -50px;
  }
  @media (max-width: 1400px) {
    main .showcase-section .showcase-container img {
      width: 450px;
      margin-right: 5px;
    }
  }
  @media (max-width: 1200px) {
    main .showcase-section .showcase-container img {
      display: none;
    }
  }
  @media (max-width: 768px) {
    main .showcase-section .showcase-container img {
      display: none;
    }
  }
  main .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 72px 0;
  }
  main .logo-section .logo-container {
    width: 100%;
    max-width: 1320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
  main .logo-section .logo-container img {
    margin: auto;
  }
  main .features-section {
    width: 95%;
    max-width: 1520px;
    border: 1px solid #cacaca;
    margin: auto;
    display: grid;
    grid-template-columns: 640px 640px;
  }
  @media (max-width: 1400px) {
    main .features-section {
      grid-template-columns: 570px 570px;
    }
  }
  @media (max-width: 1200px) {
    main .features-section {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 768px) {
    main .features-section {
      grid-template-columns: 1fr;
    }
  }
  main .features-section .features-header .features-header-container {
    margin-top: 70px;
    margin-right: 90px;
    margin-left: 90px;
  }
  @media (max-width: 1400px) {
    main .features-section .features-header .features-header-container {
      margin-left: 60px;
    }
  }
  @media (max-width: 1200px) {
    main .features-section .features-header .features-header-container {
      margin: 40px;
    }
  }
  @media (max-width: 768px) {
    main .features-section .features-header .features-header-container {
      margin: 15px;
      margin-top: 25px;
      text-align: center;
    }
  }
  @media (max-width: 1200px) {
    main .features-section .features-header .features-header-container h6 {
      text-align: center;
    }
  }
  @media (max-width: 1200px) {
    main .features-section .features-header .features-header-container h2 {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 43px;
    }
  }
  main .features-section .features-header .features-header-container .login-button {
    width: 95%;
  }
  @media (max-width: 1200px) {
    main .features-section .features-header .features-header-container .login-button {
      margin: auto;
      margin-bottom: 50px;
      width: 75%;
    }
  }
  @media (max-width: 768px) {
    main .features-section .features-header .features-header-container .login-button {
      margin-bottom: 0;
    }
  }
  main .features-section .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 85px;
    margin-left: 30px;
  }
  @media (max-width: 1400px) {
    main .features-section .features-grid {
      margin-left: 0;
    }
  }
  @media (max-width: 1200px) {
    main .features-section .features-grid {
      margin: 0;
    }
  }
  @media (max-width: 768px) {
    main .features-section .features-grid {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      margin-bottom: 30px;
    }
  }
  main .features-section .features-grid .features-grid-container {
    margin-top: 80px;
    margin-right: 130px;
    width: 200px;
  }
  @media (max-width: 1400px) {
    main .features-section .features-grid .features-grid-container {
      margin-right: 100px;
    }
  }
  @media (max-width: 1200px) {
    main .features-section .features-grid .features-grid-container {
      margin: auto;
      margin-bottom: 60px;
    }
  }
  @media (max-width: 768px) {
    main .features-section .features-grid .features-grid-container {
      margin: auto;
      margin-top: 80px;
      text-align: center;
    }
  }
  main .features-section .features-grid .features-grid-container i {
    font-size: 30px;
    margin-bottom: 13px;
  }
  main .features-section .features-grid .features-grid-container h4 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  main .features-section .features-grid .features-grid-container p {
    margin: 0;
  }
  main .about-section {
    width: 95%;
    max-width: 1320px;
    margin: 110px auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 600px);
  }
  @media (max-width: 768px) {
    main .about-section {
      grid-template-columns: 1fr;
    }
  }
  main .about-section .woman-container {
    position: relative;
    margin: 0 30px 0 30px;
    max-width: 533px;
  }
  @media (max-width: 768px) {
    main .about-section .woman-container {
      width: 350px;
      margin: auto;
    }
  }
  @media (max-width: 768px) {
    main .about-section .woman-container .woman {
      width: 350px;
    }
  }
  main .about-section .woman-container .element {
    position: absolute;
    top: 40px;
    left: -30px;
    width: auto;
  }
  @media (max-width: 768px) {
    main .about-section .woman-container .element {
      display: block;
      width: 150px;
      top: 30px;
      left: -20px;
    }
  }
  main .about-section .woman-container .founder {
    position: absolute;
    left: -50px;
    bottom: 45px;
    width: 368px;
    background-color: #BEEBFF;
    box-shadow: -9px 11px 19px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -9px 11px 19px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -9px 11px 19px 5px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 768px) {
    main .about-section .woman-container .founder {
      left: 0;
      bottom: 0;
      width: 350px;
    }
  }
  main .about-section .woman-container h4 {
    margin: 30px 0 20px 30px;
  }
  main .about-section .woman-container h4 span {
    font-size: 16px;
    color: red;
  }
  main .about-section .woman-container p {
    margin: 0 0 40px 30px;
  }
  main .about-section .about-container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    margin-left: 30px;
    margin-top: 50px;
    max-width: 533px;
  }
  @media (max-width: 768px) {
    main .about-section .about-container {
      margin-right: auto;
      margin-left: auto;
    }
  }
  main .about-section .about-container h2 {
    margin-bottom: 25px;
  }
  @media (max-width: 768px) {
    main .about-section .about-container h2 {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
  main .about-section .about-container p {
    margin-top: 0;
    margin-bottom: 30px;
  }
  @media (max-width: 768px) {
    main .about-section .about-container p {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
  main .about-section .about-container .about-buttons {
    display: flex;
  }
  @media (max-width: 768px) {
    main .about-section .about-container .about-buttons {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
  main .about-section .about-container .about-buttons .black {
    width: 180px;
    margin-right: 20px;
  }
  @media (max-width: 768px) {
    main .about-section .about-container .about-buttons .black {
      margin-right: 10px;
    }
  }
  main .about-section .about-container .about-buttons button {
    width: 48px;
    height: 48px;
    margin: 0 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  main .about-section .about-container .about-buttons button:hover {
    background-color: #191919;
    color: white;
  }
  @media (max-width: 768px) {
    main .about-section .about-container .about-buttons button {
      margin: 0 15px;
    }
  }
  main .about-section .about-container .about-buttons p {
    margin: auto 0;
  }
  main .services-section {
    background-color: #F0EFE9;
    position: relative;
  }
  main .services-section .element {
    left: auto;
    right: 0;
  }
  main .services-section .services-container {
    max-width: 1380px;
    padding: 100px 40px;
    margin: auto;
  }
  @media (max-width: 768px) {
    main .services-section .services-container {
      padding: 100px 20px;
    }
  }
  main .services-section .services-container h2 {
    width: 500px;
  }
  @media (max-width: 768px) {
    main .services-section .services-container h2 {
      width: auto;
    }
  }
  main .services-section .services-container .learn-more {
    margin: 40px auto 0 auto;
    width: 210px;
  }
  main .services-section .services-container .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    justify-content: space-between;
    gap: 20px;
  }
  main .services-section .services-container .services-grid .services-grid-container {
    background-color: white;
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 330px;
  }
  main .services-section .services-container .services-grid .services-grid-container h4 {
    margin: 0 25px;
  }
  main .services-section .services-container .services-grid .services-grid-container h4::before {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    margin: 40px 0 30px 0;
    background-color: black;
  }
  main .services-section .services-container .services-grid .services-grid-container p {
    margin: 10px 25px;
    margin-bottom: 0;
  }
  main .services-section .services-container .services-grid .services-grid-container div {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  main .services-section .services-container .services-grid .services-grid-container div a {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border: 1px solid black;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  main .services-section .services-container .services-grid .services-grid-container div a:hover {
    background-color: white;
    color: black;
  }
  main .services-section .services-container .services-grid .startup {
    background-color: #F9D783;
  }
  main .services-section .services-container .services-grid .startup div a {
    background-color: white;
    color: black;
    border: none;
  }
  main .services-section .services-container .services-grid .startup div a:hover {
    background-color: black;
    color: white;
  }
  main .choose-us-section {
    position: relative;
  }
  main .choose-us-section .box {
    height: 55%;
    width: 53%;
    z-index: 998;
    position: absolute;
    right: 0;
    bottom: 60px;
    background-color: #F0EFE9;
  }
  @media (max-width: 768px) {
    main .choose-us-section .box {
      display: none;
    }
  }
  main .choose-us-section .choose-us-container {
    max-width: 1380px;
    padding: 60px 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 768px) {
    main .choose-us-section .choose-us-container {
      padding: 60px 20px;
    }
  }
  main .choose-us-section .choose-us-container .choose-us-header h2 {
    margin-bottom: 0;
    width: 60%;
  }
  @media (max-width: 1200px) {
    main .choose-us-section .choose-us-container .choose-us-header h2 {
      width: 90%;
    }
  }
  @media (max-width: 992px) {
    main .choose-us-section .choose-us-container .choose-us-header h2 {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
  }
  main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .choose-us-header-container {
    display: flex;
    margin-top: 45px;
  }
  @media (max-width: 768px) {
    main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .choose-us-header-container {
      justify-content: center;
    }
  }
  main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
    height: 62px;
    padding: 0 15px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50%;
  }
  main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .icon i {
    font-size: 30px;
  }
  main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .text h4 {
    margin: 0;
  }
  main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .text p {
    margin: 0;
    margin-top: 5px;
  }
  @media (max-width: 992px) {
    main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .text p {
      width: 95%;
    }
  }
  @media (max-width: 768px) {
    main .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .text p {
      width: 100%;
    }
  }
  main .choose-us-section .choose-us-container img {
    z-index: 999;
  }
  @media (max-width: 1400px) {
    main .choose-us-section .choose-us-container img {
      width: 500px;
    }
  }
  @media (max-width: 1200px) {
    main .choose-us-section .choose-us-container img {
      width: 450px;
    }
  }
  @media (max-width: 992px) {
    main .choose-us-section .choose-us-container img {
      width: 350px;
    }
  }
  @media (max-width: 768px) {
    main .choose-us-section .choose-us-container img {
      display: none;
    }
  }
  main .projects-section .projects-section-container {
    max-width: 1380px;
    padding: 60px 40px;
    margin: auto;
  }
  main .projects-section .projects-section-container h6 {
    text-align: center;
  }
  main .projects-section .projects-section-container h2 {
    text-align: center;
  }
  main .projects-section .projects-section-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 645px);
    gap: 10px;
    justify-content: center;
    margin-top: 60px;
  }
  @media (max-width: 768px) {
    main .projects-section .projects-section-container .projects-grid {
      grid-template-columns: repeat(auto-fit, 340px);
    }
  }
  main .projects-section .projects-section-container .projects-grid .projects-grid-container {
    margin-bottom: 25px;
  }
  @media (max-width: 768px) {
    main .projects-section .projects-section-container .projects-grid .projects-grid-container img {
      width: 340px;
    }
  }
  main .projects-section .projects-section-container .projects-grid .projects-grid-container h4 {
    margin-bottom: 10px;
  }
  main .projects-section .projects-section-container .projects-grid .projects-grid-container div {
    border-top: 2px solid #ebebeb;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  main .projects-section .projects-section-container .projects-grid .projects-grid-container div a {
    -webkit-text-decoration: underline 1px transparent;
            text-decoration: underline 1px transparent;
    color: black;
    margin: 25px;
    transition: color 0.1s ease-in-out, -webkit-text-decoration 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, text-decoration 0.1s ease-in-out, -webkit-text-decoration 0.1s ease-in-out;
  }
  main .projects-section .projects-section-container .projects-grid .projects-grid-container div a:hover {
    color: #5a5a5a;
    -webkit-text-decoration: underline 1px #5a5a5a;
            text-decoration: underline 1px #5a5a5a;
  }
  main .projects-section .projects-section-container .black {
    margin: auto;
    margin-top: 10px;
    width: 250px;
  }
  main .team-section {
    background-color: #F0D082;
  }
  main .team-section .team-section-container {
    max-width: 1380px;
    padding: 60px 40px;
    margin: auto;
  }
  main .team-section .team-section-container .team-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
  }
  @media (max-width: 768px) {
    main .team-section .team-section-container .team-header {
      display: block;
    }
  }
  main .team-section .team-section-container .team-header .team-header-container h2 {
    margin-bottom: 0;
  }
  main .team-section .team-section-container .team-header .learn-more {
    margin-left: 25px;
  }
  @media (max-width: 768px) {
    main .team-section .team-section-container .team-header .learn-more {
      margin: auto;
      margin-top: 25px;
    }
  }
  main .team-section .team-section-container .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 308px);
    justify-content: space-around;
  }
  main .team-section .team-section-container .team-grid .team-grid-container {
    margin-bottom: 20px;
  }
  main .team-section .team-section-container .team-grid .team-grid-container h4 {
    margin-bottom: 2px;
    margin-top: 20px;
  }
  main .team-section .team-section-container .team-grid .team-grid-container p {
    margin-top: 0;
  }
  main .testimonial-section {
    background-color: #F0D082;
    padding: 0 40px;
    padding-bottom: 70px;
  }
  @media (max-width: 768px) {
    main .testimonial-section {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  main .testimonial-section .testimonial-section-container {
    background-color: white;
    max-width: 1570px;
    padding: 100px 50px;
    margin: auto;
  }
  @media (max-width: 768px) {
    main .testimonial-section .testimonial-section-container {
      padding: 100px 30px;
    }
  }
  main .testimonial-section .testimonial-section-container h6 {
    text-align: center;
  }
  main .testimonial-section .testimonial-section-container h2 {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  main .testimonial-section .testimonial-section-container .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-around;
  }
  main .testimonial-section .testimonial-section-container .testimonial-grid .testimonial-grid-container {
    margin: 50px;
  }
  main .testimonial-section .testimonial-section-container .testimonial-grid .testimonial-grid-container i {
    color: red;
    margin-bottom: 5px;
    font-size: 14px;
  }
  main .testimonial-section .testimonial-section-container .testimonial-grid .testimonial-grid-container p {
    font-size: 18px;
  }
  main .testimonial-section .testimonial-section-container .testimonial-grid .testimonial-grid-container .name {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 25px;
  }
  main .testimonial-section .testimonial-section-container .testimonial-grid .testimonial-grid-container .name div {
    margin-left: 15px;
  }
  main .testimonial-section .testimonial-section-container .testimonial-grid .testimonial-grid-container .name div h4 {
    margin: 0;
  }
  main .testimonial-section .testimonial-section-container .testimonial-grid .testimonial-grid-container .name div p {
    margin: 0;
    font-size: 16px;
    color: red;
  }
  main .testimonial-section .testimonial-section-container .black {
    width: 180px;
    margin: auto;
    margin-top: 20px;
  }
  main .news-section .news-section-container {
    max-width: 1380px;
    padding: 60px 40px;
    margin: auto;
  }
  main .news-section .news-section-container .news-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
  }
  @media (max-width: 768px) {
    main .news-section .news-section-container .news-header {
      display: block;
    }
  }
  main .news-section .news-section-container .news-header .news-header-container h2 {
    margin-bottom: 0;
  }
  main .news-section .news-section-container .news-header .learn-more {
    margin-left: 25px;
    min-width: 180px;
  }
  @media (max-width: 768px) {
    main .news-section .news-section-container .news-header .learn-more {
      margin: auto;
      margin-top: 25px;
    }
  }
  main .news-section .news-section-container .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    justify-content: space-evenly;
    gap: 20px;
  }
  @media (max-width: 768px) {
    main .news-section .news-section-container .news-grid {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
  }
  main .news-section .news-section-container .news-grid .news-grid-container {
    text-decoration: none;
    margin-bottom: 45px;
    position: relative;
    outline: 5px solid transparent;
    transition: background-color 0.15s ease-in-out, outline 0.15s ease-in-out;
  }
  main .news-section .news-section-container .news-grid .news-grid-container:hover {
    background-color: rgba(0, 0, 0, 0.04);
    outline: 5px solid rgba(0, 0, 0, 0.04);
  }
  main .news-section .news-section-container .news-grid .news-grid-container .date {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #F9D783;
    width: 56px;
    height: 64px;
    display: grid;
    align-items: center;
  }
  main .news-section .news-section-container .news-grid .news-grid-container .date h4 {
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 0 auto;
  }
  main .news-section .news-section-container .news-grid .news-grid-container .date span {
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: -3px;
  }
  main .news-section .news-section-container .news-grid .news-grid-container img {
    margin-bottom: 18px;
    width: 100%;
  }
  main .news-section .news-section-container .news-grid .news-grid-container p {
    margin: 0 10px 10px 10px;
  }
  main .news-section .news-section-container .news-grid .news-grid-container h4 {
    width: 60%;
    margin: 13px 10px 10px 10px;
    color: black;
  }
  main .signup-section {
    background-color: #F0EFE9;
    margin-top: 20px;
    position: relative;
  }
  main .signup-section img {
    position: absolute;
    bottom: 58px;
    right: 0;
  }
  @media (max-width: 1500px) {
    main .signup-section img {
      width: 120px;
      bottom: 40px;
    }
  }
  @media (max-width: 768px) {
    main .signup-section img {
      display: none;
    }
  }
  main .signup-section .signup-section-container {
    max-width: 1380px;
    padding: 100px 40px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    gap: 20px;
  }
  @media (max-width: 768px) {
    main .signup-section .signup-section-container {
      display: block;
      padding: 60px 20px;
    }
  }
  main .signup-section .signup-section-container h2 {
    margin: 0 0 5px 0;
    text-align: center;
  }
  main .signup-section .signup-section-container form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    main .signup-section .signup-section-container form {
      display: block;
      margin-top: 30px;
    }
  }
  main .signup-section .signup-section-container form input {
    width: 300px;
    height: 48px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 0 30px;
    margin-right: 15px;
  }
  main .signup-section .signup-section-container form input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  main .signup-section .signup-section-container form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  main .signup-section .signup-section-container form input:focus {
    outline: 1px solid black;
  }
  @media (max-width: 768px) {
    main .signup-section .signup-section-container form input {
      margin: auto;
      margin-bottom: 30px;
      display: block;
    }
  }
  main .signup-section .signup-section-container form .login-button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
  }
  @media (max-width: 768px) {
    main .signup-section .signup-section-container form .login-button {
      margin: auto;
    }
  }
  

footer {
    background-color: #0E1021;
  }
  footer p, footer a {
    color: rgb(189, 189, 189);
  }
  footer .footer-nav-section {
    position: relative;
  }
  footer .footer-nav-section .footer-element {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }
  footer .footer-nav-section .footer-nav {
    max-width: 1380px;
    padding: 100px 40px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
  @media (max-width: 1200px) {
    footer .footer-nav-section .footer-nav {
      grid-template-columns: 1fr;
      padding: 60px 20px;
    }
  }
  footer .footer-nav-section .footer-nav .footer-about {
    margin-right: 25px;
  }
  footer .footer-nav-section .footer-nav .footer-about p {
    margin-bottom: 0;
  }
  @media (max-width: 1200px) {
    footer .footer-nav-section .footer-nav .footer-about {
      margin: auto;
      margin-bottom: 20px;
      width: 500px;
    }
    footer .footer-nav-section .footer-nav .footer-about img {
      display: block;
      margin: auto;
      margin-bottom: 22px;
    }
    footer .footer-nav-section .footer-nav .footer-about p {
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    footer .footer-nav-section .footer-nav .footer-about {
      max-width: 500px;
      width: 80%;
    }
  }
  footer .footer-nav-section .footer-nav nav {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
  }
  @media (max-width: 768px) {
    footer .footer-nav-section .footer-nav nav {
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
      justify-content: space-around;
      gap: 20px;
    }
  }
  @media (max-width: 768px) {
    footer .footer-nav-section .footer-nav nav div {
      text-align: center;
    }
  }
  footer .footer-nav-section .footer-nav nav div h4 {
    color: white;
    margin-bottom: 30px;
  }
  footer .footer-nav-section .footer-nav nav div a {
    display: block;
    -webkit-text-decoration: underline 1px solid transparent;
            text-decoration: underline 1px solid transparent;
    margin: 15px 0;
    transition: -webkit-text-decoration 0.15s ease-in-out;
    transition: text-decoration 0.15s ease-in-out;
    transition: text-decoration 0.15s ease-in-out, -webkit-text-decoration 0.15s ease-in-out;
  }
  footer .footer-nav-section .footer-nav nav div a:hover {
    -webkit-text-decoration: underline 1px solid rgb(189, 189, 189);
            text-decoration: underline 1px solid rgb(189, 189, 189);
  }
  footer .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1725490196);
  }
  footer .footer-bottom .footer-bottom-container {
    max-width: 1380px;
    padding: 10px 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 768px) {
    footer .footer-bottom .footer-bottom-container {
      display: block;
    }
  }
  footer .footer-bottom .footer-bottom-container .social a {
    margin-left: 25px;
    color: white;
  }
  footer .footer-bottom .footer-bottom-container .social a i {
    font-size: 16px;
    transition: color 0.1s ease-in-out;
  }
  footer .footer-bottom .footer-bottom-container .social a i:hover {
    color: rgba(255, 255, 255, 0.4784313725);
  }
  @media (max-width: 768px) {
    footer .footer-bottom .footer-bottom-container .social {
      display: none;
    }
  }
  footer .footer-bottom .footer-bottom-container .mobile {
    display: none;
  }
  footer .footer-bottom .footer-bottom-container .mobile a {
    margin: 0;
  }
  @media (max-width: 768px) {
    footer .footer-bottom .footer-bottom-container .mobile {
      display: flex;
      justify-content: space-around;
      width: 200px;
      margin: auto;
      margin-top: 15px;
    }
  }
  @media (max-width: 768px) {
    footer .footer-bottom .footer-bottom-container p {
      text-align: center;
    }
  }
  












