
.header {
    background-color: #F0EFE9;
    padding:20px;
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px;
}
.logo {
    width: 196px;
    height: 2px;
    background-size: cover;
}

.contact-social-container {
    display: grid;
    grid-template-columns: 1fr auto; /* Contact info and social icons in the same row */
    gap: 20px;
}

.contact-info {
    display: flex;
    margin-left: 5px;
    gap: 20px;
    padding: 1px;
    font: normal normal 300 15px/25px Inter;
    color:#191919;
    text-align: left;
    margin-top: 0px;
    left: 940px;
    height:20px ;
        
   .social-icons {
    display: flex;
    padding: -15px;
    gap: 10px;
    margin-top:0px;
    margin-right: 80px;
    }

}
.contact-social-container {
    border-bottom: 1px solid #191919; 
    margin-left: 250px;
    margin-top: 18px;
  
}

.contact-info::after {
    content: "";
    width: 1px;
    height: 90%; 
    background-color:#cacaca;
    position: absolute;
    right: 0px; 
    }


.menu-container {
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 20px;
    align-items: center;
    margin-left: 220px;
    top: 86px;
    left: 525px;
    width: 306px;
    height: 21px;
.book-demo-button1{
    background-color: #ffcc00;
    color:#191919;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 550px;
    width:122px;
    height: 48px;
    text-align:center;
    font: normal normal 600 16px/16px Inter;
    gap: 10px;
    }
}
    

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #191919;
}

.menu ul li {
    cursor: pointer;
}

.breadcrumb {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0; 
}
  
  .breadcrumb {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #F0EFE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 3; }
    .breadcrumb-container{
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      z-index: -1;
      background: var(--clr-bg);
      opacity: 1;
      top: 0;
      left: 0; 
      font-size: 4rem;
      text-transform: capitalize;
      color: var(--clr-heading);
      font-weight: 600;
      margin-bottom: 20px;
      letter-spacing: 0.0025em;
      display: inline-block;
      line-height: 1;
      position: relative;
      z-index: 1; }
    .site-breadcrumb .breadcrumb-menu li {
      position: relative;
      display: inline-block;
      margin-left: 3rem;
      color: var(--clr-heading);
      font-weight: 500;
      text-transform: capitalize; }
      .site-breadcrumb .breadcrumb-menu li a {
        color: var(--clr-heading);
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .site-breadcrumb .breadcrumb-menu li.active {
        color: var(--clr-heading); }
      .site-breadcrumb .breadcrumb-menu li::before {
        position: absolute;
        content: '/';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        width: 2rem;
        right: -24px;
        top: 3px;
        text-align: center;
        font-size: 1.4rem;
        color: var(--clr-heading); }
      .site-breadcrumb .breadcrumb-menu li:first-child {
        margin-left: 0; }
      .site-breadcrumb .breadcrumb-menu li:last-child:before {
        display: none; }
      .site-breadcrumb .breadcrumb-menu li:hover {
        color: #d63031; }
  
  .site-breadcrumb-wpr {
    margin-top: 120px; }



